doctype html
html
  head
    title Test
  body
    h1 Hey!
    #error
    #start
      input#button-new(type='button',value='New')
      input#button-open(type='button',value='Open')
    #new(hidden=true)
      div
        label New password:
          input#new-pass(type='password')
      div
        label Confirm:
          input#new-pass-confirm(type='password')
      div
        label File:
          input#save-new-file(type='button',value='Choose File')
    script(src='start.js')
